<%= form_with url: "/users", method: :post, local: true do |f| %>
  <div>
    <%= label_tag :name, "Name" %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :email, "Email" %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>